<nav class="navbar navbar-expand-lg bg-light" >
  <div class="container-fluid" style="background:	#F8F8FF">
    
  <a class="navbar-brand" href="/" style="font-weight: bold; color: #FFD700; font-size: 25px; text-align: center; margin: 0 auto" >
      <img src="/images/87.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-center">New <span style="color: #000;">Reports</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: #000;">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color:#fff">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/relatos">Abrir Relatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/logout">Sair</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/registro">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>