<div class="p-5 text-center bg-light">
    <img src="/img/87.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">
    <h1 ><span style="color:#FFD700 ;">New</span> Reports</h1>
    <p>O New Reports é um aplicativo que tem como principal função relatar cenários que possam causar acidentes, prejuízos financeiros, contaminação ambiental e desorganização do ambiente de trabalho, tornando ágil a resolução de problemas dentro das indústrias e empresas. Essa ferramenta será simples e fácil de usar, possibilitando a abertura de relatos em qualquer lugar, otimizando tempo e cuidando de todos.
</p>
    
</div>