<h4>Categorias: </h4>
<hr>
{{#each categorias}}
  <a href="/categorias/{{slug}}" style="text-decoration: none; color: #fff"><div class="card-body" style="text-align: center; background: blue; border-radius: 5px; padding: 15px 0">{{nome}}</div></a><br>
{{else}}
 
{{/each}}
